<%= stylesheet_link_tag 'buttons', :plugin => 'redmine_omniauth_azure' %>

<% if Setting.plugin_redmine_omniauth_azure[:oauth_authentification] %>
  <%= link_to oauth_azure_path(:back_url => back_url) do %>
    <%= button_tag :class => 'button-login' do %>
      <%= content_tag :div, l(:login_via_azure), :class => 'button-login-text' %>
    <% end %>
  <% end %>
<% end %>
